<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Snapego | Lets Make it Large </title>
  <meta property="og:url" content="http://www.snapego.com" />
  <meta property="og:type" content="application" />
  <meta property="og:title" content="Lets Get Egocious !" />
  <meta property="fb:app_id" content="871670512881498" />
  <meta property="og:description" content="Show The world how amazingly talented you are.!" />
  <meta property="og:image" content="http://www.snapego.com/static/img/p1.jpg" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="../static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '871670512881498',
	      xfbml      : true,
	      version    : 'v2.5'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
</script>
  
</head>
<body>
 <div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Snapego</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="http://snapego.wordpress.com" target="_blank">Blog</a></li>
        <li><a class="waves-effect waves-red btn-flat modal-trigger" href="/">Get Started</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="http://snapego.wordpress.com" target="_blank">Blog</a></li>
        <li><a class="waves-effect waves-red btn-flat modal-trigger" href="/">Get Started</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars red-text"></i></a>
    </div>
  </nav>
</div>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <p><br><br></p>
        <h4 class="center white-text">Hello ! <span class="red-text">{{ name_id }}</span></h4>
        <div class="row">
          <p style="font-size: 24px;" class="center white-text">
           Congratulations, for being one of our earliest registrants. We have got some amazing offers for you. Copy and share the referal link and you may get free Professional Account for 3 years and many more exciting offers.
          </p>
          <p class="white-text"><textarea class="copytext col l6 offset-l3">https://snapego.com/referal/{{id}}</textarea>
        </div>
        <br><br>
        <div class="row center">
  		 <p>
       <button class="copybtn btn waves-effect waves-light" style="margin-bottom: 20px;"type="submit">Copy Link<i class="fa fa-link fa-2x left"></i></button>
       <a href="https://www.facebook.com/dialog/share_open_graph?
		  app_id=145634995501895
		  &display=popup
		  &action_type=og.likes
		  &action_properties=%7B%22object%22%3A%22https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F%22%7D
		  &redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer" target="_blank"><button class="btn blue darken-4 waves-effect waves-light" style="margin-bottom: 20px; margin-left: 30px;" onclick="FB.ui({
		  method: 'share_open_graph',
		  action_type: 'og.likes',
		  action_properties: JSON.stringify({
		      object:'http://dev-snapego.rhcloud.com/',
		  })
		}, function(response){});" type="submit">Share On Facebook<i class="fa fa-facebook fa-2x left"></i>
 </button> </a></p>
	</div>
      
      </div>
     <div class="parallax">
    <img src="/static/img/sharebg.jpg" alt="">
    </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <p><br><br><br><br></p>
        <h4 class="center white-text"><span class="white-text">Shout Out What You Think About Us</span></h4>
        <div class="row">
          <p style="font-size: 24px;" class="center">
          <br>
           Feel free to write your opinion about us, ask question to us. We love to discuss things and give answer to all your queries.
           Your opinion means a lot to us !
          </p>
        </div>
        <br><br>
      </div>
     <div class="parallax">
    <img src="/static/img/saying.jpg" alt="">
    </div>
    </div>
  </div>
  	
	<div class="container">
		<div class="card">
			<div class="row">
				<div class="col l12 s12">
				<div class="fb-comments" data-href="http://dev-snapego.rhcloud.com" data-numposts="10" data-width="100%"></div>
					</div>
				</div>
		</div>
	</div>
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/materialize.min.js"></script>
  <script src="../static/js/init.js"></script>
  <script src="../static/js/jQuerySimpleCounter.js"></script>
  <footer class="page-footer red lighten-2">
    <div class="container">
      <div class="row center white-text">
        <ul>
        <li><a href="#" class="white-text"><i class="fa fa-facebook fa-2x"></i></a></li>
        <li><a href="#" class="white-text"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="#" class="white-text"><i class="fa fa-google-plus fa-2x"></i></a></li>
        <li><a href="#" class="white-text"><i class="fa fa-envelope fa-2x"></i></a></li>

        </ul>
        </div>
        <div class="row center">
          <ul>
            <li><a class="brown-text" href="#!">Terms and Conditions</a></li>
            <li><a class="brown-text" href="#!">Careers</a></li>
            <li><a class="brown-text" href="#!">Privacy</a></li>
            <li><a class="brown-text" href="http://snapego.wordpress.com">Team</a></li>
            <li><a class="brown-text" href="http://snapego.wordpress.com" target="_blank">Blog</a></li>
            <li><a class="brown-text" href="#!">News</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <div class="row">
        <div class="col l6">
          <span class="brown-text">
          &copy; 2015 | Snapego</span>
        </div>
        <div class="col l6 right brown-text">
          <p class="right">Handcrafted With <span class="white-text"><i class="fa fa-heart fa-2x"></i></span> ,in India.</p> 
        </div>
        </div>
    </div>
  </footer>
 </body>
 <script>
var copyTextareaBtn = document.querySelector('.copybtn');

copyTextareaBtn.addEventListener('click', function(event) {
  var copyTextarea = document.querySelector('.copytext');
  copyTextarea.select();

  try {
    var successful = document.execCommand('copy');
  } catch (err) {
    console.log('Oops, unable to copy');
  }
});
</script>
 </html>

